[Unit]
Description=Auto auth and login to WHU network.
After=network.target

[Service]
Type=Simple
Restart=on-failure
ExecStart=/usr/bin/python3 /etc/whu/whu_net_login.py

[Install]
WantedBy=multi-user.target

